@page "/sobre"

<PageTitle>Sobre</PageTitle>

<div class="h-100 p-5 text-dark bg-secondary-subtle rounded-3">
    <h3 class="display-6">Sobre</h3>
</div>

<div class="row mt-5">
    <div class="col-2">
        <div class="ratio ratio-1x1 rounded-circle overflow-hidden shadow-lg">
            <img src="bart2.jpg" class="img-cover" height="100">
        </div>
    </div>

    <div class="col-10 mt-lg-5">
        <ul class="list-group">
            <li class="list-group-item bg-secondary-subtle rounded mb-1 p-2"> <b>Nome:</b> João Teixeira</li>
            <li class="list-group-item bg-secondary-subtle rounded mb-1 p-2"> <b>Data Nascimento:</b> 13/11/1986</li>
            <li class="list-group-item bg-secondary-subtle rounded mb-1 p-2"> <b>E-mail:</b> joao.teixeira@ifro.edu.br</li>
        </ul>
        
    </div>

</div>




<div>
    <img src="homer.png" class="homer-fix" />
</div>

@code {

}
